<%= render "navbar" %>
<%= render "footer" %>

<%= form_for(official) do |f| %>
  <div class="container-fluid" align="center">
    <h2>Adding officials...</h2>
    <table>
      <%= form_for(@official) do |f| %>
        <tr>
          <td>First Name: </td>
          <td><%= f.text_field :official_first_name, class: "form-control input-sm" %>
            <div style="color:red;">
              <% @official.errors[:official_first_name].each do |message| %>
                *<%= message %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td>Middle Name: </td>
          <td><%= f.text_field :official_middle_name, class: "form-control input-sm" %>
            <div style="color:red;">
              <% @official.errors[:official_middle_name].each do |message| %>
                *<%= message %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td>Last Name: </td>
          <td><%= f.text_field :official_last_name, class: "form-control input-sm" %>
            <div style="color:red;">
              <% @official.errors[:official_last_name].each do |message| %>
                *<%= message %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td>Position: </td>
          <td><%= f.text_field :official_position, class: "form-control input-sm" %>
            <div style="color:red;">
              <% @official.errors[:official_position].each do |message| %>
                *<%= message %>
              <% end %>
            </div>
          </td>
        </tr>

        <tr>
      	   <td></td>
      	    <td><%= f.submit 'Add', :class => 'btn btn-large btn-default' %></td>
          </tr>
      <% end %>
    </table>
  </div>
<% end %>
