<%= form_for @user do |f| %>
  <div class="container well" align="center" style="margin-top: 5%; width:50%;">
    <h1>Barangay Transaction Management System</h1>
    <h2>Sign Up</h2>
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        <%= f.text_field :username, placeholder: 'Username', class: "form-control input-sm", style: "width: 20%;" %>
        <div style="color:red;">
          <% @user.errors[:username].each do |message| %>
            *<%= message %>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <%= f.password_field :password, placeholder: 'Password', class: "form-control input-sm", style: "width: 20%;" %>
        <div style="color:red;">
            <% @user.errors[:password].each do |message| %>
              *<%= message %>
            <% end %>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password confirmation:</label>
        <%= f.password_field :password, placeholder: 'Password', class: "form-control input-sm", style: "width: 20%;" %>
        <div style="color:red;">
          <% @user.errors[:password].each do |message| %>
            *<%= message %>
          <% end %>
        </div>
      </div>
      <%= f.submit 'Sign Up', :class => 'btn btn-large btn-default' %>
      <%= link_to('Log In', log_in_path, :class => 'btn btn-large btn-default')  %>
    </form>
  </div>






<% end %>
