<%= render "navbar" %>
<div class="container-fluid" align="center" style="padding-bottom:5%; margin-top:5%;">
	<script>
		function myPrint(){
			window.print();
		}
	</script>
	<div class="row">
			<div class="col-md-6 pull-left">BIR FORM 0016 (MARCH, 2000)</div>
			<div class="col-md-6"><button class="btn btn-default glyphicon glyphicon-print pull-right" onclick="myPrint()"><button></div>
	</div>
	<br>
  <table class="table table-bordered">
    <tr>
      <td class="c" colspan="2"><strong>COMMUNITY TAX CERTIFICATE</strong></td>
      <td class="c"><strong>INDIVIDUAL</strong></td>
      <td><strong>CCI2010: </strong></td>
    </tr>
    <tr>
      <td><strong>Year: </strong><%= Time.current.year %></td>
      <td><strong>Place of Issue(City/Mun./Prov.): </strong></td>
      <td><strong>Date Issued: </strong><%= Time.current.month %>/<%= Time.current.day %>/<%= Time.current.year %></td>
      <td><strong>Taxpayer's Copy</strong></td>
    </tr>
    <tr>
      <td colspan="3"><strong>Name: </strong><%= @requests.first_name %> <%= @requests.middle_name %> <%= @requests.last_name %></td>
      <td><strong>TIN (If any): </strong></td>
    </tr>
    <tr>
      <td colspan="3"><strong>Address: </strong><%= @requests.address %></td>
      <td><strong>Gender: </strong><%= @requests.gender %></td>
    </tr>
    <tr>
      <td><strong>Citizenship: </strong></td>
      <td><strong>ICR No.(If an Alien): </strong></td>
      <td><strong>Birth Place: </strong><%= @requests.birth_place %></td>
      <td><strong>Height: </strong><%= @requests.height %></td>
    </tr>
    <tr>
      <td colspan="2"><strong>Civil Status: </strong><%= @requests.status %></td>
      <td><strong>Date of Birth: </strong><%= @requests.birthday %></td>
      <td><strong>Weight: </strong><%= @requests.weight %></td>
    </tr>
    <tr>
      <td colspan="2"><strong>Profession/Occupation/Business: </strong><%= @requests.occupation %></td>
      <td class="c"><strong>Taxable Amount</strong></td>
      <td class="c"><strong>Community Tax Due</strong></td>
    </tr>
    <tr>
      <td colspan="2"><strong>A. BASIC COMMUNITY TAX (P5.00) Voluntary or Exempted (P1.00)</strong></td>
      <td></td>
      <td>P</td>
    </tr>
    <tr>
      <td colspan="2"><strong>B. ADDITIONAL COMMUNITY TAX (tax not ro exceed P5,000.00)</strong></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2"><strong>1. Gross receipts or earning derived from exercise of preceiding year (P1.00 for every P1,000.00)</strong></td>
      <td>P</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2"><strong>2. Salaries or gross receipt or earnings derived from exercise of profession or pursuit of any occupation (P1.00 for every P1,000.00)</strong></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2"><strong>3. Income from real property (P1.00 for every P1.000.00)</strong></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="c" rowspan="4"><strong>Right Thumb Print</strong></td>
      <td rowspan="2" style="padding-bottom:5%;"><strong>Taxpayer's Signature</strong></td>
      <td class="c"><strong>TOTAL</strong></td>
      <td>P</td>
    </tr>
    <tr>
      <td class="c"><strong>INTEREST<strong></td>
      <td></td>
    </tr>
    <tr>
      <td class="c" style="padding-top:5%;" rowspan="2"><strong>_________________________<br>Municipal/City Treasurer</strong></td>
      <td class="c"><strong>TOTAL AMOUNT PAID</strong></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">(In words)</td>
    </tr>
  </table>
	<div class="dop pull-left">DOP, 02.22.2013</div>
</div>
