<%= render "navbar" %>
<%= form_tag("/update/#{@requests.id}") do  %>

<div class="container" align="center" style="margin-top: 3%; margin-bottom:3%;">
<table class="rform" align="center">
  <thead class="rform">
    <tr>
      <th>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6"><h1>Request Form</h1></div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody class="rform">
    <tr>
      <td>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            Request for:
            <%= select_tag(:request, options_for_select([ "Good moral", "Residency", "Indigency", "Cedula" ], @requests.request), {:class => "form-control input-md"}) %>
            <div style="color:red;">
              <% @requests.errors[:request].each do |message| %>
                *<%= message %>
              <% end %>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3"><br>
            First name:
            <%= text_field_tag :first_name, @requests.first_name, placeholder: 'First Name', class: "form-control input-md" %></div>
            <div style="color:red;">
              <% @requests.errors[:first_name].each do |message| %>
                *<%= message %>
              <% end %>
            </div>
          <div class="col-md-3"><br>
            Middle name:
            <%= text_field_tag :middle_name, @requests.middle_name, placeholder: 'Middle Name', class: "form-control input-md" %></div>
            <div style="color:red;">
              <% @requests.errors[:middle_name].each do |message| %>
                *<%= message %>
              <% end %>
            </div>
          <div class="col-md-3"><br>
            Last name:
            <%= text_field_tag :last_name, @requests.last_name, placeholder: 'Last Name', class: "form-control input-md" %></div>
            <div style="color:red;">
              <% @requests.errors[:last_name].each do |message| %>
                *<%= message %>
              <% end %>
            </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3"><br>Nickname: <%= text_field_tag :nickname, @requests.nickname, placeholder: 'Nickname', class: "form-control input-md" %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-7"><br>Current address:<%= text_field_tag :address, @requests.address, placeholder: 'Address', class: "form-control input-md" %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3"><br>Gender: <%= select_tag(:gender, options_for_select([ "Male", "Female"], @requests.gender), {:class => "form-control input-md"}) %></div>
          <div class="col-md-3"><br>Status: <%= select_tag(:status, options_for_select([ "Single", "Married", "Widow" ], @requests.status), {:class => "form-control input-md"}) %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2"><br>Birthday: </div>
          <div class="col-md-5"><br></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3"><br>
              Birth place: <%= text_field_tag :birth_place, @requests.birth_place, placeholder: 'Birth place', class: "form-control input-md" %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3"><br>Occupation: <%= text_field_tag :occupation, @requests.occupation, placeholder: 'Occupation', class: "form-control input-md" %></div>
          <div class="col-md-3"><br>Monthly income: <%= text_field_tag :monthly_income,
              (
                if @requests.monthly_income != nil then
                    sprintf "%0.2f", @requests.monthly_income
                else
                    @requests.monthly_income
                end
              ), placeholder: 'Monthly incaome', class: "form-control input-md" %></div>
          <div class="col-md-3"><br>Purpose: <%= text_field_tag :purpose, @requests.purpose, placeholder: 'Purpose', class: "form-control input-md" %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-5"><br>
            In case of emergency:
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><br>Contact person: <%= text_field_tag :emergency_contact_person, @requests.emergency_contact_person,  placeholder: 'Contact person', class: "form-control input-md" %></div>
        <div class="col-md-3"><br>Relationship: <%= text_field_tag :relationship, @requests.relationship, placeholder: 'Relationship', class: "form-control input-md" %></div>
        <div class="col-md-3"><br>Contact number: <%= text_field_tag :contact_no_2, @requests.contact_no_2, placeholder: 'Contact number', class: "form-control input-md" %></div>
      </div>
        </td>
    </tr>
    <tr>
      <td>
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <br>
          <%= submit_tag 'Submit', class: "btn btn-default" %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<% end %>

<%= render "footer" %>
