<div class="container-fluid" align="center" style="margin-top: 5%;">
  <table>
    <%= form_for(@requests, :url=>{:action => 'update'}) do |f| %>
      <tr>
      	<td>First Name:</td>
      	<td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
      	<td>Middle Name:</td>
      	<td><%= f.text_field :middle_name %></td>
      </tr>
      <tr>
      	<td>Last Name:</td>
      	<td><%= f.text_field :last_name %></td>
      </tr>
      <tr>
      	<td>Position:</td>
      	<td><%= f.text_field :position %></td>
      </tr>

      <tr>
      	<td></td>
      	<td><%= f.submit 'Update' %></td>
      </tr>
    <% end %>
  </table>
</div>
