<%= render "navbar" %>
<%= render "footer" %>
<div class="container" align="justify" style="margin-top: 5%; width: 30%; background-color: gray;">
  <div>Republic of the Philippines</div>
  <div><%= @request.place_issue %>, Camarines Sur</div>
  <div><h3>Barangay Bagumbayan Sur</h3></div><br>
  <div class="pull-left">To whom it may concern</div><br><br>
  <div class="pull-left">&emsp;&emsp;&emsp;&emsp;&emsp;This is to certify that <%= @request.first_name %> <%= @request.middle_name %> <%= @request.last_name %> legal age, <%= @request.gender %>, <%= @request.status %> with residence and postal address at <%= @request.address %>.</div>
  <div>&emsp;&emsp;&emsp;&emsp;&emsp;</div>
  <div class="pull-left">&emsp;&emsp;&emsp;&emsp;&emsp;<%= @request.first_name %> <%= @request.middle_name %> <%= @request.last_name %> is known to me to be of a good moral character, a law abiding citizen and has no derogatory record on file.</div>
  <div>&emsp;&emsp;&emsp;&emsp;&emsp;</div>
  <div class="pull-left">&emsp;&emsp;&emsp;&emsp;&emsp;This certification is being issued upon the request of the above named person for <%= @request.purpose %> purpose it may serve.</div>
  <div>&emsp;&emsp;&emsp;&emsp;&emsp;</div>
  <br>
  <table>
    <thead style="text-align: center;">
      <tr><td>Republic of the Philippines</td></tr>
      <tr><td><%= @request.place_issue %>, Camarines Sur</td></tr>
      <tr><td>Barangay Bagumbayan Sur</td></tr>
      <tr><td></td></tr>
    </thead>
    <tbody class="pull-left">
      <tr><td>To whom it may concern</td></tr>
      <tr><td>&emsp;</td></tr>
      <tr><td>&emsp;&emsp;&emsp;&emsp;&emsp;This is to certify that <%= @request.first_name %> <%= @request.middle_name %> <%= @request.last_name %> legal age, <%= @request.gender %>, <%= @request.status %> with residence and postal address at <%= @request.address %>.</td></tr>
      <tr><td>&emsp;</td></tr>
      <tr><td>&emsp;&emsp;&emsp;&emsp;&emsp;<%= @request.first_name %> <%= @request.middle_name %> <%= @request.last_name %> is known to me to be of a good moral character, a law abiding citizen and has no derogatory record on file.</td></tr>
      <tr><td>&emsp;</td></tr>
      <tr><td>&emsp;&emsp;&emsp;&emsp;&emsp;This certification is being issued upon the request of the above named person for <%= @request.purpose %> purpose it may serve.</td></tr>
      <tr><td>&emsp;&emsp;&emsp;&emsp;&emsp;</td></tr>
      <tr><td>&emsp;&emsp;&emsp;&emsp;&emsp;Issued this <%= Time.current.day %>th day of <%= Time.current.month %>, <%= Time.current.year %> at <%= @request.place_issue %>. </td></tr>
      <tr><td>&emsp;&emsp;&emsp;&emsp;&emsp;</td></tr>
      <tr><td>&emsp;&emsp;&emsp;&emsp;&emsp;</td></tr>
      <tr><td><div class="pull-right" style="margin-right:5%;"><%= "#{@official[0].official_first_name} #{@official[0].official_middle_name} #{@official[0].official_last_name}" %></div></td></tr>
      <tr><td><div class="pull-right" style="margin-right:5%;">Punong Barangay</div></td></tr>
      <tr><td>&emsp;&emsp;&emsp;&emsp;&emsp;</td></tr>

    </tbody>
  </table>
</div>
