<%= render "navbar" %>

<div class="container-fliud" style="margin-top: 5%; margin-left: 2%; margin-right: 2%;">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body" align="center">
					<%= link_to 'New transaction', "/requests/form", class: "btn btn-default" %>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body" align="center">
						Calendar of Activities
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    Reminder
			  </div>
			  <div class="panel-body">
					<% @request.each do |w| %>
						<div class="container-fluid">
							<%= w.reminder %>
						</div>
					<% end %>
			  </div><%= render "reminder_form" %></div>
		</div>
	</div>
</div>
<%= render "footer" %>
