<%= render "navbar" %>

<div class="container-fliud" style="margin-top: 5%; margin-left: 2%; margin-right: 2%;">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body" align="justify">
				    <%= link_to 'New Transaction', "/requests/form", class: "btn btn-default" %>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body" align="center">
						<strong><h1>Calendar of Activities</h1></strong>
            <div>
              <iframe src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FManila" style="border-width:0" width="700" height="500" frameborder="0" scrolling="no"></iframe>
            </div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    Reminder
			  </div>
			  <div class="panel-body" align="justify" style="overflow-y: scroll; max-height: 300px; width: auto;">
					<% @reminders.each do |w| %>
						<div class="well">
							<table style="width: 280px;">
								<tr>
									<td><strong><%= w.reminder_title %></strong></td>
									<td><%= link_to '', { action: :delete_reminder, id: w.id },method: :delete_reminder, data: { confirm: "Are you sure?" }, class: "glyphicon glyphicon-remove" %></td>
								</tr>
								<tr>
									<td align="justify"><div align="justify"><%= w.reminder_content %></div></td>
								</tr>
							</table>
						</div>
					<% end %>
			  </div>
				<%= render "reminder_form" %>
			</div>
		</div>
	</div>
</div>
<%= render "footer" %>
