<%= render "navbar" %>
<div class="container-fluid" align="center" style="margin-top: 5%;">
  <h2>Adding officials...</h2>
  <table>
    <%= form_for(@request) do |f| %>
      <tr>
        <td>First Name: </td>
        <td><%= f.text_field :first_name, class: "form-control input-sm" %></td>
      </tr>
      <tr>
        <td>Middle Name: </td>
        <td><%= f.text_field :middle_name, class: "form-control input-sm" %></td>
      </tr>
      <tr>
        <td>Last Name: </td>
        <td><%= f.text_field :last_name, class: "form-control input-sm" %></td>
      </tr>
      <tr>
        <td>Position: </td>
        <td><%= f.text_field :position, class: "form-control input-sm" %></td>
      </tr>

      <tr>
    	   <td></td>
    	    <td><%= f.submit 'Add', :class => 'btn btn-large btn-default' %></td>
        </tr>
    <% end %>
  </table>
</div>
 
