<div class="container-fluid" style="margin-top: 5%;">
	<p>
		<strong>First Name: </strong>
		<%= @requests.first_name %>
	</p>

	<p>
		<strong>Middle Name: </strong>
		<%= @requests.middle_name %>
	</p>

	<p>
		<strong>Last Name: </strong>
		<%= @requests.last_name %>
	</p>

	<p>
		<strong>Position: </strong>
		<%= @requests.position %>
	</p>
	<p><%= link_to 'Back', '/requests/officials', :class => 'btn btn-large btn-default' %></p>
</div>
