<%= render "navbar" %>
<div class="container-fluid" align="center" style="margin-top: 5%;">
  <h1>Barangay Official List</h1>

<div class="container" align="center">
  <div class="row">
    <div class="col-sm-4">
      <div><h4>Name of Officials</h4></div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"><h4>Position</h4></div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <% @request.each do |request| %>
    <div class="col-sm-2"><%= request.first_name %></div>
    <div class="col-sm-2"><%= request.middle_name %></div>
    <div class="col-sm-2"><%= request.last_name %></div>
    <div class="col-sm-2"><%= request.position %></div>
    <div class="col-sm-4">
      <%= link_to 'show', "/requests/officials_view/#{request.id}/", :class => 'btn btn-large btn-default'  %>
      <%= link_to 'Edit', "/requests/#{request.id}/edit_officials/", :class => 'btn btn-large btn-default' %>
      <%= link_to 'Delete', "/requests/delete/#{request.id}", :class => 'btn btn-large btn-default', data: {confirm: 'Are you sure?'} %>
    </div>
    <% end %>
  </div>
</div>
  <br>
 
  <%= link_to 'Add', '/requests/new_official', :class => 'btn btn-large btn-default' %>
</div>
